*.a filter=lfs diff=lfs merge=lfs -text
singleplayerMod/Assets/Invector-3rdPersonController/Add-ons/Shooter Cover/Scenes/ShooterCover_DemoScene/LightingData.asset filter=lfs diff=lfs merge=lfs -text
singleplayerMod/Assets/Invector-3rdPersonController/Add-ons/Shooter Cover/Textures/portland_landing_pad_4k.exr filter=lfs diff=lfs merge=lfs -text
